@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Funnel+Display:wght@300..800&display=swap');

html{
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Funnel Display", sans-serif;
  color: #F8F0FB;
}

section, .section-target {
  scroll-margin-top: 100px;
}

.App{
  background-color: #070707;
}

main {
  display: grid;
}

.mobile-menu-icon {
  display: none;
  cursor: pointer;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(15px);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.99) 75%, transparent 100%);
  z-index: -1;
  pointer-events: none;
}

.navbar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem 3rem;
  z-index: 1000;
  font-size: 1em;
  font-weight: 600;
  background-color: transparent;
}

.perfil-container{
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 20em;
}

.perfil-container  img{
  width: auto;
  height: 8.5vh;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  filter: drop-shadow(0 0 10px rgb(0, 212, 255));
  transition: transform 0.3s ease-in-out
}
.perfil-container img:hover{
  transform: scale(1.1);
}

.texto-magnetico {
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  color: #F8F0FB;
  cursor: default;
  user-select: none;
  transform: translate(var(--move-x), var(--move-y));
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.texto-magnetico.ativo {
  transition: transform 0.1s linear;
}

.texto-magnetico::after {
  content: "Portfólio";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
          circle 50px at var(--x) var(--y),
          #00d4ff 0%,
          #F8F0FB 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.texto-magnetico.ativo::after {
  opacity: 1;
}

.nav {
  list-style: none;
  display : flex;
}

.nav-item  a{
  margin-left: 2rem;
  font-family: 'DM Sans', sans-serif;
  transition: color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.nav-item a:hover {
  cursor: pointer;
  color: #00d4ff;
  filter: drop-shadow(0 0 15px rgb(248, 240, 251));
  transition: color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(
          ellipse at top,
          #232ED1 10%,
          transparent 70%,
          #070707 90%
  );
  backdrop-filter: blur(10px);
  background-color: #070707;
  background-repeat: no-repeat;
  padding-top: 15vh;
  min-height: 100vh;
  margin: 0 auto;
}

@keyframes heroBlurReveal {
  0% {
    filter: blur(15px); /* Começa muito desfocado */
    opacity: 0;         /* Começa invisível */
    transform: scale(1.05); /* Começa um pouquinho maior (zoom) */
  }
  100% {
    filter: blur(0px);  /* Termina nítido */
    opacity: 1;         /* Termina visível */
    transform: scale(1); /* Termina no tamanho original */
  }
}

.hero-container{
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin: 80px 0 ;
  animation: heroBlurReveal 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  opacity: 0;
}

.img-container {
  margin: 0 5vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  transform: perspective(1000px) rotateX(var(--rX, 0deg)) rotateY(var(--rY, 0deg));
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
}
.img-container:not(:hover) {
  transition: transform 0.5s ease-out;
}

.profile-image {
  position: relative;
  z-index: 10;
  height: 22rem;
  border-radius: 8rem;
  object-fit: cover;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow:
          inset 4px 4px 15px rgba(255, 255, 255, 0.3),
          10px 10px 30px rgba(0, 0, 0, 0.3);
  background: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.4) 0%,    /* Ponto de luz forte */
          rgba(35, 46, 209, 0.1) 100%     /* Área de sombra sutil */
  );
  transform: translateZ(100px);
  transition: transform 0.5s ease-in-out;
}

.decorative-square {
  overflow: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;
  border-radius: 35%;
  backdrop-filter: blur(20px);
  background: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.4) 0%,
          rgba(35, 46, 209, 0.1) 100%
  );
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow:
          inset 4px 4px 15px rgba(255, 255, 255, 0.3),
          10px 10px 30px rgba(0, 0, 0, 0.3);
  transform: scale(0) translateZ(60px);
  transition: transform 0.5s ease-in-out;
}

.decorative-square::after {
  content: '';
  position: absolute;
  top: -150%;
  left: -150%;
  width: 400%;
  height: 400%;
  background: linear-gradient(
          115deg,
          transparent 35%,
          rgba(0, 212, 255, 0.3) 45%,
          rgba(255, 255, 255, 1) 50%,
          rgba(0, 212, 255, 0.3) 55%,
          transparent 65%
  );
  filter: blur(15px);
  transform: rotate(30deg) translateY(-50%);
  pointer-events: none;
  opacity: 0;
  z-index: 2;
}

@keyframes liquidLightFlashReal {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(30deg) scale(0.8);
  }
  20% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    transform: translate(30%, 30%) rotate(30deg) scale(1);
  }
}

@keyframes bubblePopBig {
  0% { opacity: 0; transform: scale(0) rotate(-15deg) translateZ(50px); }
  60% { transform: scale(1.05) rotate(-15deg) translateZ(50px); }
  100% { opacity: 1; transform: scale(1) rotate(-15deg) translateZ(50px); }
}

@keyframes bubblePopSmall {
  0% { opacity: 0; transform: scale(0) rotate(20deg) translateZ(50px); }
  60% { transform: scale(1.05) rotate(20deg) translateZ(50px); }
  100% { opacity: 1; transform: scale(1) rotate(20deg) translateZ(50px); }
}

.big-square {
  width: 13rem;
  height: 13rem;
  top: -40px;
  left: -50px;
  transform: rotate(-15deg) translateZ(50px);
  animation: bubblePopBig 1.2s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  animation-delay: 1.5s;
}

.big-square::after {
  animation: liquidLightFlashReal 1.8s ease-in-out 1.5s forwards;
}

.small-square {
  width: 10rem;
  height: 10rem;
  bottom: -40px;
  right: -60px;
  animation: bubblePopSmall 1.2s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  animation-delay: 1.7s;
}

.small-square::after {
  animation: liquidLightFlashReal 1.8s ease-in-out 1.7s forwards;
}

.info-container {
  cursor:default;
}

.text-container {
  margin-top: 10vh;
  position: relative;
  padding: 2.5rem;
  flex: 1;
  min-width: 35rem;
  max-width: 35rem;
  border-radius:4.5rem;
  top: -40px;
  left: -50px;
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
  opacity: 1 !important;
  transform: translateZ(60px) !important;
  transition:
          transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
          box-shadow 0.3s ease-in-out,
          border-color 0.3s ease-in-out,
          filter 0.3s ease-in-out;
}

.text-container:hover {
  transform: translate(var(--move-x, 0px), var(--move-y, 0px)) scale(1.02);
  box-shadow:
          inset 4px 4px 15px rgba(255, 255, 255, 0.4),
          0 0 15px rgba(0, 212, 255, 0.5),
          0 0 30px rgba(35, 46, 209, 0.4);
  border-color: #ffffff;
  filter: drop-shadow(0 0 10px rgba(0, 212, 255, 0.53));
}

.text-container p{
  font-family: 'DM Sans', sans-serif;
}

.text-container b {
  color: #00d4ff;
}

.cursor {
  display: inline-block;
  width: 3px;
  background-color: #00d4ff;
  margin-left: 2px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.dynamic-text {
  font-weight: bold;
  color: #00d4ff;
  filter: drop-shadow(0 0 5px rgba(0, 212, 255, 0.5));
}

.skills-container {
  margin-top: 4rem;
  width: 100%;
  text-align: center;
}

.skills-title {
  font-size: 1.5rem;
  color: #F8F0FB;
}

.carousel-window {
  width: 100%;
  padding: 30px 0;
  overflow: hidden;
  position: relative;

  mask-image: linear-gradient(
          to right,
          transparent,
          black 40%,
          black 60%,
          transparent
  );
}

.carousel-track {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: 120px;
  height: 120px;

  border-radius: 35%;
  backdrop-filter: blur(20px);
  background: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.16) 0%,
          rgba(35, 46, 209, 0.1) 100%
  );
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-left: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow:
          inset 4px 4px 15px rgba(255, 255, 255, 0.3),
          10px 10px 30px rgba(0, 0, 0, 0.3);

  transition: transform 0.2s ease-out, filter 0.2s ease-out, border-color 0.2s ease-out;
}

.skill-card:hover {
  transform: translateY(-5px);
  border-color: #ffffff;
  filter: drop-shadow(0 0 10px rgb(0, 212, 255));
  transition: transform 0.2s ease-in, filter 0.2s ease-in, border-color 0.2s ease-in;
}

.skill-card img {
  width: 50px;
  height: 50px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.59));
  transition: transform 0.2s ease-in-out;
}

.skill-card:hover img,svg {
  transform: scale(1.1) rotate(5deg);
}

.skill-card span {
  font-size: 0.9rem;
  font-family: 'DM Sans', sans-serif;
  color: #ccc;
  cursor:default;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.projects-section {
  width: 100%;
  margin: 0 auto;
  padding: 10rem 10rem;
  background-image: linear-gradient(
          to top,
          #232ED1 10%,
          transparent 70%,
          #070707 90%
  );
}

.section-title {
  text-align: center;
  font-family: 'Funnel Display', cursive;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #F8F0FB;
  text-shadow: 0 0 10px rgb(0, 212, 255);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 20px;
  overflow: hidden;
  backdrop-filter: blur(20px);
  background: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.4) 0%,
          rgba(35, 46, 209, 0.1) 100%
  );
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow:
          inset 4px 4px 15px rgba(255, 255, 255, 0.3),
          10px 10px 30px rgba(0, 0, 0, 0.3);
  height: 100%;
  display: flex;
  flex-direction: column;
  cursor:default;
  transition: transform 0.2s ease-in, filter 0.2s ease-in, border-color 0.2s ease-in;
}

.project-card:hover {
  transform: translateY(-10px);
  border-color: #ffffff;
  filter: drop-shadow(0 0 10px rgb(0, 212, 255));

}

.project-img-box {
  width: 100%;
  height: 200px;
  background-color: #111;
}

.project-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.project-card:hover .project-img-box img {
  transform: scale(1.05);
}

.project-content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project-content h3 {
  font-family: 'Funnel Display', cursive;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.project-content p {
  font-family: 'DM Sans', sans-serif;
  font-size: 0.95rem;
  color: #f8f0fb;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  flex-grow: 1;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tag {
  font-family: 'DM Sans', sans-serif;
  font-size: 0.75rem;
  background: rgba(8, 14, 94, 0.77);
  color: #f8f0fb;
  padding: 4px 8px;
  border-radius: 4px;
}

.project-links {
  display: flex;
  gap: 1rem;
  margin-top: auto;
}

.btn-project {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  background: linear-gradient(
          135deg,
          rgba(30, 30, 133, 0.46) 0%,     rgba(75, 80, 172, 0.77) 100%
  );
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow:
          inset 4px 4px 15px rgba(255, 255, 255, 0.3),
          10px 10px 30px rgba(0, 0, 0, 0.3);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 0.9rem;
  transition: background 0.2s;
}

.btn-project:hover {
  background: #00d4ff;
  color: #000;
}

.btn-project.outline {
  background: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.4) 0%, rgba(190, 191, 202, 0.1) 100%
  );
  box-shadow:
          inset 4px 4px 15px rgba(255, 255, 255, 0.3),
          10px 10px 30px rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
}

.btn-project.outline:hover {
  background: #00d4ff;
  color: #000;
  border-color: white;
}

.contact-section {
  padding: 2rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(
          to bottom,
          #232ED1 0%,
          transparent 50%,
          #070707 70%
  );
}

.contact-text {
  font-family: 'DM Sans', sans-serif;
  max-width: 600px;
  margin: -1rem auto 3rem auto;
  color: #ccc;
  font-size: 1.1rem;
  line-height: 1.6;
}

.social-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.social-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;

  backdrop-filter: blur(20px);
  background: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.19) 0%,
          rgba(35, 46, 209, 0.1) 100%
  );
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow:
          inset 4px 4px 15px rgba(255, 255, 255, 0.3),
          10px 10px 30px rgba(0, 0, 0, 0.3);
  border-radius: 24px;

  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 280px;
  cursor: pointer;
}

.social-card img,
.social-card svg {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}


.github-icon {
  filter: invert(1);
}
.email-icon {
  stroke: #fff;
}

.social-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-info h3 {
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}

.social-info span {
  font-family: 'DM Sans', sans-serif;
  font-size: 0.8rem;
  color: #aaa;
}

.social-card:hover {
  transform: translateY(-5px);
}
.social-card:hover img,
.social-card:hover svg {
  transform: scale(1.1) rotate(5deg);
}

.social-card.linkedin:hover {
  border-color: #0075b1;
  background: linear-gradient(
          135deg,
          rgba(0, 119, 181, 0.47) 0%,
          rgba(35, 46, 209, 0.1) 100%
  );
  box-shadow:
          inset 4px 4px 15px rgba(0, 119, 181, 0.4),
          10px 10px 30px rgba(0, 119, 181, 0.15);
}

.social-card.github:hover {
  border-color: #ffffff;
  background: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.35) 0%,
          rgba(35, 46, 209, 0.1) 100%
  );
  box-shadow:
          inset 4px 4px 15px rgba(255, 255, 255, 0.42),
          10px 10px 30px rgba(7, 7, 7, 0.03);
}

.social-card.email:hover {
  border-color: orange;
  background: linear-gradient(
          135deg,
          rgba(255, 165, 0, 0.29) 0%,
          rgba(35, 46, 209, 0.1) 100%
  );
  box-shadow:
          inset 4px 4px 15px rgba(255, 165, 0, 0.4),
          10px 10px 30px rgba(7, 7, 7, 0.03);
}
.social-card.email:hover svg path,
.social-card.email:hover svg rect {
  stroke: orange;
}

.social-card.email:active {
  transform: scale(0.95);
}

.footer {
  margin-top: auto;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  width: 100%;
}

.footer p {
  color: #666;
  font-size: 0.9rem;
  font-family: 'DM Sans', sans-serif;
}

.reveal-wrapper {
  opacity: 0;
  transform: translateY(50px);

  transition: all 0.8s cubic-bezier(0.5, 0, 0, 1);

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.reveal-wrapper.is-visible {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 900px) {

  html, body {
    overflow-x: hidden;
    width: 100%;
  }

  .content {
    padding-top: 70px;
    background-size: cover;
  }

  .mobile-menu-icon {
    display: block;
    z-index: 2000;
    position: relative;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: rgba(7, 7, 7, 0);
    height: 70px;
  }

  .navbar img,
  .perfil-container img {
    display: none !important;
  }

  .texto-magnetico, .nav-logo {
    font-size: 1.5rem !important;
    text-align: left;
    margin: 0;
    width: 100%;
  }

  .texto-magnetico {
    font-size: 1.5rem !important;
    width: auto;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: rgba(7, 7, 7, 0.4);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 1500;
  }

  .nav.active {
    opacity: 1;
    pointer-events: all;
  }

  .nav-item a {
    font-size: 2rem !important;
    font-family: "Funnel Display", sans-serif;
    font-weight: bold;
    color: #fff;
  }

  .hero-container {
    flex-direction: column;
    margin: 1rem 0;
    padding: 0 1.5rem;
    gap: 2rem;
    width: 100%;
  }

  .img-container {
    margin: 0;
    width: auto;
    transform: none !important;
  }

  .profile-image {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    transform: none;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  }

  .big-square, .small-square {
    display: none !important;
  }

  .info-container {
    width: 100%;
    text-align: center;
  }

  .info-container h1 {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .info-container h2 {
    font-size: 1.4rem !important;
    margin: 0.5rem 0 1.5rem 0 !important;
  }

  .text-container {
    display: block !important;
    position: static;
    transform: none;
    min-width: unset;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
  }

  .text-container p {
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: justify;
    color: #ddd;
  }

  .text-container:hover {
    transform: none;
    box-shadow: inset 4px 4px 15px rgba(255, 255, 255, 0.3);
  }

  .skills-container {
    margin-top: 3rem;
    padding: 0 1rem;
  }

  .skills-title {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .skill-card {
    width: 80px;
    height: 80px;
    border-radius: 20px;
  }

  .skill-card img {
    width: 35px;
    height: 35px;
  }

  .skill-card span {
    font-size: 0.75rem;
  }

  .projects-section, .contact-section {
    padding: 3rem 1.5rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .social-card {
    width: 100%;
    justify-content: center;
  }
}